body{
    margin:0;
    font-family: Arial,sans-serif;
    background: #f9f9f9;

}
.container{
    display:flex;
    padding:20px;
    gap:20px;
}
.video-section{
    flex:5;
}
.video-section iframe{
    width:100%;
    height: 600px;
    border-radius: 10px;

}
.comment-section{
    flex:1;
    background:white;
    padding: 15px;
    border-radius: 10px;
    height:450;
    overflow-y: auto;
}
#comments div{
    background:#eee;
    margin-bottom: 100px;
    padding:8px;
    border-radius:6px;
}
#commentInput{
    width:80px;
    padding:100px;
    margin-top:10px;

}
button{
    width:100px;
    padding:8px;
    margin-top: 6px;
    cursor:pointer;
} 